BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
IndentWidth: 4
MaxEmptyLinesToKeep: 1